name: Techno Data Generator

on:
  schedule:
    - cron: '0 0 * * *'  # every day at 12 AM
  workflow_dispatch:

jobs:
  generate-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r TechnoDataGenerator/requirements.txt

      - name: Authenticate to GCP
        run: |
          echo "${{ secrets.GCP_SERVICE_ACCOUNT }}" > $HOME/gcloud-key.json
          echo "GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcloud-key.json" >> $GITHUB_ENV

      - name: Run Data Generator
        run: python TechnoDataGenerator/data_generator.py
